.center {
    margin: auto;
    width: 90%;
    max-width: 40em;
    padding: 10px;
}

code {
    background-color: white;
    margin-top: 2em;
}

a {
/* for dark mode use gold  */
    color: #183446;
}

body {
    background-color: whitesmoke;
    font-size: 1.2em;
    color: #1c4056;
}

h1, h2, h3, h4, h5{

}

li{
    line-height: 1.4em;

}
small{
    margin: 1em;
    font-size: .5em;
}