.center {
    margin: auto;
    width: 90%;
    max-width: 40em;
    padding: 10px;
}

code {
    background-color: white;
    margin-top: 2em;
}

a {
/* for dark mode use gold  */
    color: #315c77;
    text-decoration: none;
    
}

body {
    background-color: whitesmoke;
    font-size: 1.2em;
    color: #1c4056;
}

h1 a{
    color: #1c4056;

}

li{
    line-height: 1.4em;

}
small{
    margin: 1em;
    font-size: .5em;
}